.icon2 {
  width: 80%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
}

.cabecera-azul4 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray);
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
}

.aqu-tienes-tu,
.enhorabuena {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 800;
}

.aqu-tienes-tu {
  font-size: var(--farmacheck-1-desktop-headings-heading-4-size);
}

.enhorabuena-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}

.farmacheck,
.muchas-gracias-por {
  font-family: var(--farmacheck-1-mobile-headings-heading-2);
}

.farmacheck {
  font-weight: 700;
}

.muchas-gracias-por-completar-l {
  margin-block-start: 0;
  margin-block-end: 32px;
}

.te-deseamos-muchos {
  margin: 0;
}

.intro-texto-container,
.ttulo {
  align-self: stretch;
  position: relative;
}

.intro-texto-container {
  font-size: var(--farmacheck-1-mobile-body-feature-standard-size);
  line-height: 135%;
}

.ttulo {
  line-height: 30px;
}

.la-precisin-de {
  margin-block-start: 0;
  margin-block-end: 16px;
}

.consultor-certificado-oficialm {
  font-family: var(--text-xl-bold);
}

.nota {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
}

.advertencia-texto-predefinid,
.contenido3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contenido3 {
  gap: var(--gap-9xs);
}

.advertencia-texto-predefinid {
  border-radius: var(--br-5xs);
  background-color: var(--warning-100);
  padding: var(--padding-xs);
  font-size: var(--text-xl-bold-size);
  font-family: var(--text-xl-bold);
}

.divider-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}

.introduccin {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: 40px;
}

.imagen-nivel-icon {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.imagen-nivel-wrapper {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}

.el-nivel-de {
  align-self: stretch;
  position: relative;
  font-size: var(--farmacheck-1-mobile-headings-heading-2-size);
  line-height: 120%;
  color: var(--color-black);
}

.piramide-nivel-icon {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.imagen-diagnstico {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl);
  box-sizing: border-box;
}

.texto-generado-container {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}

.seccin-nivel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.vector-icon {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.seccin-prioridad {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

.vector-icon1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.una-sorpresa1 {
  text-decoration: underline;
}

.el-momento-perfecto-es-ahora {
  margin-block-start: 0;
  margin-block-end: 32px;
  white-space: pre-wrap;
}

.donde-podrs-preguntarme {
  font-family: var(--farmacheck-1-mobile-headings-heading-2);
  white-space: pre-wrap;
}

.contenido2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0;
  box-sizing: border-box;
  gap: 64px;
}

.texto-cta- {
  width: 100%;
  display: inline-block;
}

.quiero-mi-sesin,
.texto-cta- {
  position: relative;
  line-height: 120%;
}

.botn-base2 {
  align-self: stretch;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-5xs);
  background-color: var(--color-aquamarine);
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.botn-base-frame,
.cta,
.cta1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botn-base-frame {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-xs);
  text-align: left;
  font-size: var(--farmacheck-1-mobile-headings-heading-1-size);
}

.cta,
.cta1 {
  justify-content: flex-start;
}

.cta1 {
  width: 100%;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
}

.cta {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  padding: 32px var(--padding-53xl);
  text-align: center;
  font-size: var(--farmacheck-1-desktop-headings-heading-4-size);
  color: var(--color-black);
}

.logo-cxlab-invertido {
  width: 100%;
  max-width: 129px;
  height: auto;
  margin: 0 auto;
}

.escritorio1,
.pie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie {
  align-self: stretch;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: var(--color-gray);
  justify-content: flex-end;
  padding: var(--padding-base) var(--padding-105xl);
}

.escritorio1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: var(--farmacheck-1-mobile-body-feature-standard-size);
  color: var(--gray-600);
  font-family: var(--farmacheck-1-mobile-headings-heading-2);
}

.botn-base2 {
  display: inline-block;
  text-align: center;
  text-decoration: none; /* Quitar el subrayado */
  color: black; /* Cambiar el color del texto */
  background-color: var(--color-aquamarine);
  padding: 15px 30px; /* Ajusta el padding según sea necesario */
  border-radius: var(--br-5xs);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.botn-base2:hover {
  background-color: #7dfeb7; /* Cambia el color al hacer hover si deseas */
}

.quiero-mi-sesin {
  color: black; /* Asegúrate de que el texto sea negro */
  text-decoration: none; /* Quitar el subrayado dentro del <b> */
}
