.icon {
  position: absolute;
  top: 17px;
  left: 8px;
  width: 77px;
  height: 37.9px;
  object-fit: cover;
}
.cabecera-azul {
  align-self: stretch;
  position: relative;
  background-color: #16213a;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-farmacheck-fondo-claro-co {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  width: 200px;
  height: 50.6px;
  object-fit: cover;
}
.cabecera-azul1 {
  width: 375px;
  position: relative;
  background-color: var(--color-white);
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
}
.averigua-qu-necesita {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.contenido-child {
  width: 351px;
  position: relative;
  border-radius: 4px;
  height: 420px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.empezar {
  position: relative;
  line-height: 120%;
}
.botn-base,
.icono {
  overflow: hidden;
  flex-shrink: 0;
}
.icono {
  width: 32px;
  position: relative;
  height: 32px;
}
.botn-base {
  align-self: stretch;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #98ffca;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.botn-base-wrapper,
.contenido,
.iphone-8-1 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.botn-base-wrapper {
  width: 375px;
  justify-content: center;
  padding: 13px var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
}
.contenido,
.iphone-8-1 {
  justify-content: flex-start;
}
.contenido {
  width: 375px;
  padding: var(--padding-xs);
  box-sizing: border-box;
  gap: 20px;
}
.iphone-8-1 {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: var(--farmacheck-1-mobile-headings-heading-2-size);
  color: var(--color-black);
  font-family: var(--farmacheck-1-mobile-headings-heading-2);
}
